/* styles.css*/

/* Сброс стандартных отступов */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Стили для тела документа */
body {
    font-family: 'arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Контейнер для центрирования контента */
.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 
    rgba (0,0,0,1);
}

/* Заголовки */
h1 {
    color: #2c3e50;
    margin-bottom: 15px 0;
}

h2 {
    color: #3498db;
    margin: 15px 0;
}

/* Абзацы */
p {
    margin-bottom: 15px;
}

/* Изображение */
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}

/* Ссылки */
uL {
    list-style-position: inside;
    margin-bottom: 15px;
}

li {
    margin-bottom: 5px;
}

/* Навигационная панель */
.navbar {
    display: flex;
    justify-content: space-between; /* лого слева, меню справа */
    align-items: center;
    background-color: #2c3e50;
    padding: 1rem 2rem;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-limks {
    display: flex;
  list-style: none;
  gap: 2rem; /* расстояние между пунктами меню */
}

.nav-limks a {
    color: white;
    text-decoration: none;
    transition: color 0.3s
}

.nav-limks a:hover {
    color: #3498db;
}

.projects {
    padding: 2rem 0;
}

.project-card {
    position: relative; /* для абсолютного позиционирования бейджа */
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0,1);
}

/* Бейдж "New" с позиционированием */
.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #e74c3c;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 0.rem;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tech-stack span {
    background: #3498db;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

project-btn:hover {
    background: #2980b9;
}

.element {
    position: static; /* по умолчанию */
    position: relative; /* относительно своего положения */
    position: absolute; /* относительно ближайшего позиционированного предка */
    position: fixed; /* относительно окна браузера */
    position: sticky; /* гибрид relative + fixed */

    /* Свойства для смещения */
    top: 10px;
    right: 20px;
    bottom: 30px;
    left: 40px;
    z-index: 100; /* порядок наложения */
}
